@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("ttf"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.eot") format("eot");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf") format("ttf"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.eot") format("eot");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.ttf") format("ttf"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.eot") format("eot");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf") format("ttf"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.eot") format("eot");
  font-weight: 700;
}
@font-face {
  font-family: "Cuprum";
  src: url("../fonts/Cuprum-Bold.ttf") format("ttf"), url("../fonts/Cuprum-Bold.woff") format("woff"), url("../fonts/Cuprum-Bold.eot") format("eot");
  font-weight: 700;
}
@font-face {
  font-family: "Cuprum";
  src: url("../fonts/Cuprum-Regular.ttf") format("ttf"), url("../fonts/Cuprum-Regular.woff") format("woff"), url("../fonts/Cuprum-Regular.eot") format("eot");
  font-weight: 400;
}
html {
  scroll-behavior: smooth;
}

* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fff;
}

.navbar {
  background-color: #fff !important;
}
.navbar .hb {
  width: 30px;
  margin: 0 auto;
  display: block;
}
.navbar-toggler {
  background-color: #fff;
  border: none;
}
.navbar-brand img {
  width: 64px;
  height: 60px;
}
.navbar__contacts div a {
  text-decoration: none;
  color: #194f76;
  font-size: 0.8rem;
}
.navbar__contacts div a:hover {
  color: #87cef5;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.navbar__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar__socials a {
  text-decoration: none;
}
.navbar__socials a svg {
  width: 1.7rem;
  height: 1.7rem;
}
.navbar__socials a svg path {
  -webkit-transition: fill 0.4s;
  transition: fill 0.4s;
}
.navbar__socials a[id=vk]:hover svg path {
  fill: #4c75a3;
}
.navbar__socials a[id=tg]:hover svg path {
  fill: #29b6f6;
}
.navbar__socials a[id=yt]:hover svg path {
  fill: #ff0000;
}
.navbar__socials a[id=inst]:hover svg path {
  fill: url("#inst-gradient");
}
.navbar .nav-item,
.navbar .nav-link,
.navbar .dropdown-item {
  text-transform: uppercase;
  font-size: 0.9rem;
  color: #194f76 !important;
  font-weight: bold;
}
.navbar .nav-item:hover,
.navbar .nav-link:hover,
.navbar .dropdown-item:hover {
  color: #87cef5 !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.navbar .nav-item:active,
.navbar .nav-link:active,
.navbar .dropdown-item:active {
  background-color: #fff;
}
.navbar .row {
  gap: 26px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar .btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 10px;
}

.header {
  padding: 250px 70px;
  background-image: url("../img/header-bg-blur.webp");
  color: #fff;
  background-size: cover;
}
.header .row {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 50px;
}
.header .row .col-xxl-8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.header .row .col-xxl-4 {
  height: 100%;
  margin: auto 0;
}
.header__title {
  font-weight: 700;
  line-height: 110%;
  font-size: 3.4rem;
  margin: 25px 0;
}
.header__text {
  font-size: 1.75rem;
  font-weight: normal;
  line-height: 130%;
}
.header__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.header__form input::-webkit-input-placeholder {
  color: #2d2d2d;
}
.header__form input::-moz-placeholder {
  color: #2d2d2d;
}
.header__form input:-ms-input-placeholder {
  color: #2d2d2d;
}
.header__form input::-ms-input-placeholder {
  color: #2d2d2d;
}
.header__form input::placeholder {
  color: #2d2d2d;
}
.header__form .form__button {
  padding: 12px 24px;
  text-align: center;
  margin: 5px 0;
  width: 100%;
  height: 50px;
}

.instruction {
  padding: 65px 350px;
  background-color: #fff;
}
.instruction .col-12 {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
.instruction .col-12 .btn {
  font-size: 1.12rem;
  margin-top: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.instruction__text p {
  font-size: 1.7rem;
  line-height: 120%;
  font-weight: 500;
  color: #194f76;
}

.products {
  padding: 80px 135px;
  background-image: url("../img/products-bg-blur.webp");
  background-size: cover;
}
.products .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.products .row article {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.consulting {
  padding: 125px 0;
  background: url("../img/consulting-bg.webp") no-repeat;
  background-size: 100% 100%;
}
.consulting .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.consulting__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.consulting__title {
  font-size: 2.5rem;
  color: #194f76;
  font-weight: 500;
  line-height: 110%;
}
.consulting__text {
  color: #194f76;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 130%;
}
.consulting__warning {
  margin-top: auto;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 130%;
  display: block;
}
.consulting__warning a {
  color: #000;
}
.consulting__warning a:hover {
  color: #df650b;
}
.consulting .form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 25px 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}
.consulting .form__text {
  display: none;
}
.consulting .form__control {
  height: 50px;
  position: relative;
}
.consulting .form__control input {
  height: auto;
  background-color: #ece9e9;
}
.consulting .form__purpose {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}
.consulting .form button {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.introduction {
  padding: 75px 0;
  color: #194f76;
  background-color: #fff;
}
.introduction .col-lg-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
.introduction__title {
  font-size: 2.2rem;
  font-weight: 400;
}
.introduction__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.introduction__label {
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 130%;
}
.introduction__mission {
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 140%;
  margin: 0;
}
.introduction__button {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
}

.advantages {
  padding: 20px 135px 80px 135px;
  background-color: #fff;
}
.advantages .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}
.advantages__title {
  text-align: center;
  margin: 0;
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 110%;
  color: #194f76;
}
.advantages .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.advantages .row article {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 270px;
          flex: 1 0 270px;
}
.advantages .card {
  border-radius: 10px;
  padding: 50px 50px;
  text-align: center;
  gap: 10px;
}
.advantages .card__desc {
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.advantages .card__title {
  font-weight: 500;
  font-size: 1.8rem;
  margin: 0;
}
.advantages .card__text-header {
  font-size: 1.2rem;
}
.advantages .card__list {
  margin: 0;
  padding: 0;
}
.advantages .card__list-item {
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 140%;
}
.advantages .card__list-item::marker {
  font-size: 1rem;
}
.advantages .card__img img {
  width: 100px;
  height: 100px;
}

.characteristics {
  padding: 20px 135px 80px 135px;
  background-color: #fff;
}
.characteristics .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.characteristics__item {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  gap: 20px;
}
.characteristics__number {
  font-family: "Cuprum", sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 110%;
  color: #194f76;
}
.characteristics__divider {
  width: 100%;
  height: 2px;
  background-color: #df650b;
}
.characteristics__desc {
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 140%;
  color: #194f76;
}

.documents {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}
.documents .zoom {
  position: fixed;
  z-index: 9999999999;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6941176471);
}
.documents .zoom img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scaleX(1.5) scaleY(1.4);
          transform: scaleX(1.5) scaleY(1.4);
}
.documents__title {
  text-align: center;
  margin: 0;
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 110%;
  color: #194f76;
}
.documents .wrapper {
  padding: 100px 135px 100px 135px;
  background-image: url("../img/products-bg-blur.webp");
  background-size: cover;
}
.documents .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}
.documents .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.documents__item {
  position: relative;
}
.documents__item:not(.zoom):hover {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}
.documents__item:not(.zoom):hover::before {
  content: url("../img/icons/Zoom.png");
  position: absolute;
  z-index: 11;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
}
.documents__item:not(.zoom):hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 79, 118, 0.4)));
  background: linear-gradient(rgba(25, 79, 118, 0.4));
}
.documents__item.zoom img:hover {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}
.documents__img {
  width: 370px;
  height: 522px;
}

.overview {
  padding: 75px 135px;
}
.overview .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 30px 1fr;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.overview__slider {
  min-width: 100%;
  max-height: 90%;
}
.overview__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  gap: 33px;
  color: #194f76;
}
.overview__title {
  font-size: 2.5rem;
  margin: 0;
  line-height: 100%;
}
.overview__text {
  font-weight: 300;
  margin: 0;
  font-size: 1.35rem;
  line-height: 145%;
}
.overview__btn {
  height: 60px;
}

.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}
.feedback__title {
  text-align: center;
  margin: 0;
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 110%;
  color: #194f76;
}
.feedback .wrapper {
  background-image: url("../img/feedback-bg.webp");
  background-size: cover;
}
.feedback__slider {
  padding: 100px 205px;
}
.feedback .swiper {
  margin: 0;
}
.feedback .swiper-slide {
  text-align: center;
}
.feedback .swiper-slide img {
  width: 20vw;
  height: 65vh;
}

.special-feedback {
  padding: 75px 135px;
}
.special-feedback .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  gap: 30px;
}
.special-feedback__title {
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 110%;
  color: #194f76;
}
.special-feedback__slider {
  max-width: 100%;
  max-height: 70%;
}
.special-feedback .swiper-slide {
  padding: 0 200px;
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.special-feedback .swiper-slide .slide-review {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 145%;
  color: #194f76;
}
.special-feedback .swiper-slide .slide-name {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 120%;
  color: #194f76;
}
.special-feedback .swiper-slide img {
  width: 11.5vw;
  height: 11.5vw;
}

.factories {
  padding-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
  color: #194f76;
}
.factories__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.factories__title {
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 110%;
  margin: 0;
}
.factories__text {
  text-align: center;
  font-weight: 300;
  font-size: 1.9rem;
  line-height: 120%;
  margin: 0;
}
.factories__phone {
  font-weight: 500;
  font-size: 1.9rem;
  line-height: 120%;
  color: #df650b;
}
.factories__phone:hover {
  color: #df650b;
}
.factories__addresses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.factories__factory {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 270px;
          flex: 1 0 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  color: #194f76;
}
.factories__factory-name {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 120%;
  margin: 0;
}
.factories__factory-address {
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 145%;
  margin: 0;
  color: #767676;
}
.factories__factory-route {
  margin-top: auto;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 120%;
  color: #df650b;
}
.factories__factory-route:hover {
  color: #df650b;
}
.factories__map {
  width: 99.9%;
  height: 70vh;
  background-color: #ece9e9;
  margin: 0;
  padding: 0;
}

.footer {
  background-color: #87cef5;
  padding: 17px 0;
  color: #fff;
}
.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}
.footer__copyright {
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
  line-height: 140%;
}
.footer a {
  color: #fff;
}
.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 37px;
}
.footer__link {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 120%;
  text-transform: uppercase;
}
.footer .to-top {
  font-weight: 700;
  font-size: 1rem;
  line-height: 140%;
  text-decoration: none;
}
.footer .to-top:hover {
  color: #ece9e9;
}
.footer .to-top:hover svg path {
  stroke: #ece9e9;
}

.error {
  border: 2px solid #ff3030 !important;
  -webkit-box-shadow: 0 0 20px 5px #ff3030;
          box-shadow: 0 0 20px 5px #ff3030;
}

.scale {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(2) translateY(10%) !important;
          transform: scale(2) translateY(10%) !important;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  background-color: #194f76;
  text-align: center;
}
.card__desc {
  text-align: center;
}
.card__desc h2 {
  text-transform: uppercase;
  font-size: 2.25rem;
  line-height: 120%;
  font-weight: 700;
}
.card__desc p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 140%;
}
.card__img img {
  width: 100%;
}
.card__body {
  padding: 20px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.card__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: auto;
  gap: 10px;
}
.card__btns button {
  font-size: 0.8rem;
}

.form {
  padding: 45px 50px;
  background-color: #194f76;
  border-radius: 10px;
}
.form__input {
  padding: 15px 16px;
  width: 100%;
  border-radius: 8px;
  border: none;
}
.form__text {
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 130%;
  text-align: center;
  color: #fff;
  margin-bottom: 0;
}
.form__text a {
  color: #fff;
  text-decoration: underline;
}
.form__text a:hover {
  color: #df650b;
}

.swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 3%;
}
.swiper .swiper-horizontal > .swiper-pagination-bullets,
.swiper .swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper .swiper-pagination-custom,
.swiper .swiper-pagination-fraction {
  bottom: -5px;
}
.swiper-pagination {
  top: 2px;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  height: auto;
}
.swiper-button-prev, .swiper-button-next {
  background-color: rgba(196, 196, 196, 0.3882352941);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.swiper-button-prev::after, .swiper-button-next::after {
  font-size: 1.6rem;
  color: #000;
}
.swiper-button-prev {
  margin-left: 10px;
}
.swiper-button-prev::after {
  margin-left: -8%;
}
.swiper-button-next {
  margin-right: 10px;
}
.swiper-button-next::after {
  margin-right: -8%;
}
.swiper-button-prev:hover, .swiper-button-next:hover {
  background-color: #df650b;
  cursor: pointer;
}

.promo {
  background-color: #df650b;
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 12px;
}
.promo__title {
  font-weight: 700;
  line-height: 120%;
  font-size: 1.8rem;
}
.promo__desc {
  font-size: 0.8rem;
  font-weight: 300;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 100%;
  width: 100%;
  border: none;
  border-radius: 8px;
}
.btn-primary {
  color: #fff;
  background-color: #df650b;
}
.btn-primary:hover {
  background-color: #ffa600 !important;
}
.btn-secondary {
  background-color: transparent;
  border: 1px #df650b solid;
  color: #df650b;
}
.btn-secondary:hover {
  background-color: #ffa600;
  color: #fff;
}

.youtube-player {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
  margin: 5px;
}

.youtube-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: transparent;
}

.youtube-player img {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  left: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  height: auto;
  cursor: pointer;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}

.youtube-player img:hover {
  -webkit-filter: brightness(75%);
}

.youtube-player .play {
  height: 48px;
  width: 68px;
  left: 50%;
  top: 50%;
  margin-left: -34px;
  margin-top: -24px;
  position: absolute;
  background: url("https://i.ibb.co/j3jcJKv/yt.png") no-repeat;
  cursor: pointer;
}

@media screen and (max-width: 1330px) {
  html {
    font-size: 14px;
  }
  .navbar-brand img {
    height: 56px;
    width: 52px;
  }
  .feedback__slider {
    padding: 100px 135px;
  }
  .feedback .swiper-slide img {
    width: 23vw;
    height: 85vh;
  }
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 13px;
  }
  .products,
  .advantages {
    padding: 80px 135px 30px 135px;
    background-size: cover;
  }
  .products .row,
  .advantages .row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 30px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .products .row article,
  .advantages .row article {
    display: -ms-grid;
    display: grid;
  }
  .products .row article:nth-child(odd):last-child,
  .advantages .row article:nth-child(odd):last-child {
    grid-column: 1/-1;
  }
  .products__card,
  .advantages__card {
    margin-bottom: 50px;
  }
  .navbar .row {
    gap: 15px;
  }
  .navbar .collapse ul a {
    padding: 0;
    font-size: 0.8rem;
  }
  .navbar-brand img {
    height: 50px;
    width: 46px;
  }
  .navbar__socials a svg {
    width: 21px;
    height: 21px;
  }
  .header {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .instruction {
    padding: 30px 125px;
  }
  .consulting {
    padding: 35px 200px;
  }
  .consulting__warning {
    display: none;
  }
  .consulting__desc {
    text-align: center;
  }
  .consulting .form {
    margin-top: 15px;
  }
  .consulting .form__text {
    display: block;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .introduction__descr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .introduction__video {
    width: 560px;
    height: 320px;
  }
  .advantages .card {
    padding: 30px 0px;
  }
  .advantages .card__img img {
    width: 110px;
    height: 110px;
  }
  .characteristics {
    padding: 20px 135px 80px 135px;
  }
  .characteristics__number {
    font-size: 4rem;
  }
  .characteristics__desc {
    font-size: 1.6rem;
  }
  .documents .wrapper {
    padding: 80px 80px 80px 80px;
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: -2px !important;
  }
  .overview {
    padding: 75px 85px;
  }
  .overview .row {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .overview__desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    gap: 25px;
    color: #194f76;
  }
  .overview__title {
    font-size: 2.5rem;
    text-align: center;
    line-height: 100%;
  }
  .overview__text {
    font-weight: 300;
    font-size: 1.35rem;
    line-height: 145%;
  }
  .overview__btn {
    font-size: 1.7rem;
  }
  .feedback__slider {
    padding: 100px 65px;
  }
  .special-feedback__title {
    font-size: 3rem;
  }
  .special-feedback .swiper-slide {
    padding: 0 150px;
  }
  .special-feedback .swiper-slide .slide-review {
    font-size: 1.7rem;
  }
  .special-feedback .swiper-slide .slide-name {
    font-size: 1.9rem;
  }
  .special-feedback .swiper-slide img {
    width: 12vw;
    height: 12vw;
  }
  .factories__title {
    font-size: 3.5rem;
  }
  .factories__text {
    font-size: 2.2rem;
  }
  .factories__phone {
    font-size: 2.2rem;
  }
  .factories__factory-name {
    font-size: 1.8rem;
  }
  .factories__factory-address {
    font-size: 1.55rem;
  }
  .factories__factory-route {
    font-size: 2.1rem;
  }
}
@media screen and (max-width: 990px) {
  html {
    font-size: 12px;
  }
  .navbar .dropdown-divider {
    display: block !important;
    margin: 3px 0;
  }
  .navbar .dropdown-menu {
    border: none;
  }
  .navbar .dropdown-toggle {
    position: relative;
  }
  .navbar .dropdown-toggle::after {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -5px;
  }
  .navbar .collapse {
    height: 100vh;
  }
  .navbar .collapse ul a {
    padding: 0.5rem;
    font-size: 1.1rem;
    font-weight: 700;
  }
  .navbar__contacts div a {
    font-size: 1.4rem;
  }
  .navbar__socials a svg {
    width: 2.5rem;
    height: 2.5rem;
  }
  .navbar .row .btn {
    width: auto;
    margin-left: 10px;
  }
  .navbar .row {
    gap: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header {
    padding: 50px 0;
  }
  .header .row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header__title {
    margin: 25px 0;
  }
  .header__text {
    font-size: 1.1rem;
  }
  .header .promo__title {
    font-size: 1.6rem;
  }
  .header .promo__desc {
    font-size: 0.87rem;
  }
  .header .form .btn {
    font-size: 0.9rem;
    padding: 0;
    line-height: 100%;
  }
  .header .form__text {
    font-size: 0.87rem;
  }
  .products,
  .advantages {
    padding: 30px 40px;
  }
  .products .card__btns .btn,
  .advantages .card__btns .btn {
    font-size: 1rem;
  }
  .consulting {
    padding: 35px 30px;
  }
  .consulting__title {
    font-size: 2rem;
  }
  .consulting__text {
    font-size: 1.4rem;
  }
  .consulting .form input::-webkit-input-placeholder {
    font-size: 1rem;
  }
  .consulting .form input::-moz-placeholder {
    font-size: 1rem;
  }
  .consulting .form input:-ms-input-placeholder {
    font-size: 1rem;
  }
  .consulting .form input::-ms-input-placeholder {
    font-size: 1rem;
  }
  .consulting .form input::placeholder {
    font-size: 1rem;
  }
  .consulting .form .btn {
    font-size: 1.4rem;
  }
  .consulting .form__text {
    font-size: 0.8rem;
  }
  .introduction .row {
    gap: 50px;
  }
  .introduction__title {
    font-size: 2.2rem;
  }
  .introduction__label {
    font-size: 0.9rem;
  }
  .introduction__mission {
    font-size: 1.2rem;
  }
  .introduction__button {
    font-size: 1.2rem;
    width: 100% !important;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .introduction__video {
    width: 100%;
    height: 320px;
  }
  .advantages .card {
    padding: 50px 50px;
  }
  .advantages .card__title {
    font-size: 1.8rem;
  }
  .advantages .card__text-header {
    font-size: 1.2rem;
  }
  .advantages .card__list-item {
    font-size: 1.2rem;
  }
  .advantages .card__list-item::marker {
    font-size: 1rem;
  }
  .advantages .card__img img {
    width: 110px;
    height: 110px;
  }
  .documents .wrapper {
    padding: 80px 40px 80px 40px;
  }
  .documents__img {
    width: 300px;
    height: 452px;
  }
  .overview {
    padding: 75px 60px;
  }
  .overview .row {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .overview__desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    gap: 25px;
    color: #194f76;
  }
  .overview__title {
    font-size: 2rem;
    text-align: center;
    line-height: 100%;
  }
  .overview__text {
    font-weight: 300;
    font-size: 1rem;
    line-height: 145%;
  }
  .overview__btn {
    font-size: 1.2rem;
  }
  .feedback__slider {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .feedback .swiper-slide img {
    width: 23vw;
    height: 70vh;
  }
  .special-feedback {
    padding: 75px 15px;
  }
  .special-feedback__title {
    font-size: 2.15rem;
  }
  .special-feedback .swiper-slide {
    padding: 0 150px;
  }
  .special-feedback .swiper-slide .slide-review {
    font-size: 1.2rem;
    line-height: 145%;
  }
  .special-feedback .swiper-slide .slide-name {
    font-weight: 700;
    font-size: 1.35rem;
    line-height: 120%;
    color: #194f76;
  }
  .special-feedback .swiper-slide img {
    width: 20vw;
    height: 20vw;
  }
  .factories__title {
    font-size: 2.75rem;
  }
  .factories__text {
    font-size: 1.9rem;
  }
  .factories__phone {
    font-size: 1.9rem;
  }
  .factories__factory-name {
    font-size: 1.5rem;
  }
  .factories__factory-address {
    font-size: 1.25rem;
  }
  .factories__factory-route {
    font-size: 1.8rem;
  }
  .footer__links {
    gap: 10px;
  }
  .footer__links a {
    font-size: 1.2rem;
  }
  .footer__copyright {
    font-size: 0.9rem;
  }
  .footer .to-top {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 767px) {
  .instruction {
    padding: 30px;
  }
  .products,
  .advantages {
    background-image: none;
    background-color: #fff;
    padding-top: 10px;
  }
  .products .row,
  .advantages .row {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .products .card,
  .advantages .card {
    margin-bottom: 10px;
    border: none;
  }
  .consulting {
    background: url("../img/consulting-bg-mobile.webp") center center no-repeat;
    background-size: cover;
  }
  .advantages .card__text-header {
    margin-bottom: 10px;
    font-size: 1.4rem;
  }
  .advantages .card__text {
    text-align: left;
  }
  .advantages .card__list-item {
    font-size: 1.3rem;
  }
  .characteristics {
    padding: 20px 25px 80px 25px;
    background-color: #fff;
  }
  .characteristics .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .characteristics__item {
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    gap: 20px;
  }
  .characteristics__number {
    font-family: "Cuprum", sans-serif;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 110%;
    color: #194f76;
  }
  .characteristics__divider {
    width: 100%;
    height: 2px;
    background-color: #df650b;
  }
  .characteristics__desc {
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 140%;
    color: #194f76;
  }
  .documents__title {
    font-size: 2.5rem;
  }
  .documents__img {
    width: 250px;
    height: 402px;
  }
  .overview {
    padding: 75px 30px;
  }
  .overview__title {
    font-size: 1.87rem;
  }
  .overview .swiper-button-prev, .overview .swiper-button-next {
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    background-color: #87cef5;
  }
  .overview .swiper-button-prev:hover, .overview .swiper-button-next:hover {
    background-color: #df650b;
    cursor: pointer;
  }
  .overview .swiper-horizontal > .swiper-pagination-bullets,
  .overview .swiper-pagination-bullets.swiper-pagination-horizontal,
  .overview .swiper-pagination-custom,
  .overview .swiper-pagination-fraction {
    bottom: -5px;
  }
  .swiper-button-prev, .swiper-button-next {
    width: 35px;
    height: 35px;
  }
  .swiper-button-prev::after, .swiper-button-next::after {
    font-size: 1.2rem;
  }
  .swiper-button-prev::after {
    margin-left: -8%;
  }
  .swiper-button-next::after {
    margin-right: -8%;
  }
  .feedback {
    gap: 30px;
  }
  .feedback__title {
    font-size: 2.5rem;
  }
  .feedback .swiper-slide img {
    width: 36vw;
    height: 80vh;
  }
  .special-feedback {
    padding: 75px 15px;
  }
  .special-feedback .swiper-button-prev, .special-feedback .swiper-button-next {
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    background-color: #87cef5;
  }
  .special-feedback .swiper-button-prev:hover, .special-feedback .swiper-button-next:hover {
    background-color: #df650b;
    cursor: pointer;
  }
  .special-feedback__title {
    font-size: 2.5rem;
  }
  .special-feedback .swiper-slide {
    padding: 0 150px;
  }
  .special-feedback .swiper-slide .slide-review {
    font-size: 1.2rem;
    line-height: 145%;
  }
  .special-feedback .swiper-slide .slide-name {
    font-weight: 700;
    font-size: 1.35rem;
    line-height: 120%;
    color: #194f76;
  }
  .special-feedback .swiper-slide img {
    width: 20vw;
    height: 20vw;
  }
  .factories__title {
    font-size: 2.4rem;
  }
  .factories__text {
    font-size: 1.6rem;
  }
  .factories__phone {
    font-size: 1.6rem;
  }
  .factories__factory-name {
    text-align: center;
    font-size: 1.2rem;
  }
  .factories__factory-address {
    text-align: center;
    font-size: 0.9rem;
  }
  .factories__factory-route {
    text-align: center;
    font-size: 1.5rem;
  }
  .footer {
    text-align: center;
  }
  .footer__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px;
  }
  .footer__links a {
    font-family: "Cuprum";
    font-weight: 400;
    font-size: 2rem;
  }
  .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .footer .to-top {
    font-size: 1.2rem;
  }
  .footer__copyright {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
@media screen and (max-width: 595px) {
  .navbar .row .btn {
    width: 96%;
    margin-left: 10px;
  }
  .instruction {
    padding: 40px 10px;
  }
  .instruction__text p {
    font-size: 1.4rem;
  }
  .instruction .btn {
    font-size: 1.12rem;
    margin-top: 20px;
    width: auto;
  }
  .products,
  .advantages {
    padding: 0 10px;
  }
  .products .card__text-header,
  .advantages .card__text-header {
    font-size: 1.5rem;
  }
  .products .card__list-item,
  .advantages .card__list-item {
    font-size: 1.4rem;
  }
  .consulting .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 5px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 30px auto;
  }
  .consulting .form__text {
    display: none;
  }
  .consulting .form input {
    padding: 5px;
  }
  .consulting .form input::-webkit-input-placeholder {
    font-size: 0.75rem;
  }
  .consulting .form input::-moz-placeholder {
    font-size: 0.75rem;
  }
  .consulting .form input:-ms-input-placeholder {
    font-size: 0.75rem;
  }
  .consulting .form input::-ms-input-placeholder {
    font-size: 0.75rem;
  }
  .consulting .form input::placeholder {
    font-size: 0.75rem;
  }
  .consulting .form__purpose {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .consulting .form .btn {
    padding: 5px 8px;
    -ms-grid-column: 1;
    grid-column: 1;
    font-size: 0.9rem;
  }
  .consulting .form__text {
    display: block;
    -ms-grid-column: 1;
    grid-column: 1;
    text-align: left;
  }
  .introduction__title {
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
  }
  .introduction__label {
    font-size: 1.2rem;
  }
  .introduction__mission {
    font-size: 1.4rem;
  }
  .documents .wrapper {
    padding: 80px 0 80px 0;
  }
  .documents .row {
    gap: 10px;
  }
  .documents__img {
    width: 211px;
    height: 352px;
  }
  .swiper {
    padding-bottom: 5% !important;
  }
  .feedback__slider {
    padding: 40px 0px !important;
  }
  .feedback .swiper-slide img {
    width: 46vw;
    height: 40vh;
  }
  .special-feedback {
    padding: 50px 15px;
  }
  .special-feedback .swiper-slide {
    padding: 0 75px;
  }
  .special-feedback .swiper-slide .slide-review {
    font-size: 1rem;
  }
  .special-feedback .swiper-slide .slide-name {
    font-size: 1rem;
  }
  .special-feedback .swiper-slide img {
    width: 25vw;
    height: 25vw;
  }
  .factories__title {
    font-size: 2.1rem;
  }
  .factories__text {
    font-size: 1.3rem;
  }
  .factories__phone {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 430px) {
  .consulting__text {
    font-size: 1.3rem;
  }
  .advantages .card {
    padding: 50px 30px;
  }
  .documents .wrapper {
    padding: 60px 10px 60px 10px;
  }
  .documents .row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .documents__img {
    width: 170px;
    height: 227px;
  }
  .feedback .swiper-slide img {
    width: 46vw;
    height: 50vh;
  }
  .special-feedback .swiper-slide {
    padding: 0 75px;
  }
  .special-feedback .swiper-slide .slide-review {
    font-size: 1rem;
  }
  .special-feedback .swiper-slide .slide-name {
    font-size: 1rem;
  }
  .special-feedback .swiper-slide img {
    width: 35vw;
    height: 35vw;
  }
  .factories__text {
    font-size: 0.9rem;
  }
  .factories__phone {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 370px) {
  .advantages__title {
    font-size: 2.2rem;
  }
  .consulting .form .btn {
    font-size: 0.6rem;
  }
  .consulting__title {
    font-size: 1.8rem;
  }
  .documents__img {
    width: 140px;
    height: 197px;
  }
  .feedback .swiper-horizontal > .swiper-pagination-bullets,
  .feedback .swiper-pagination-bullets.swiper-pagination-horizontal,
  .feedback .swiper-pagination-custom,
  .feedback .swiper-pagination-fraction {
    bottom: -5px !important;
  }
  .special-feedback {
    padding: 50px 10px;
  }
  .factories__text {
    font-size: 1.2rem;
  }
  .factories__phone {
    font-size: 1.2rem;
  }
}