@import "./blocks/fonts.scss";

// *********************** Переменные ***********************

$black: #000;
$placeholder-black: #010101;
$white: #fff;
$gray: #d0d0cc;
$light-gray: #ece9e9;
$middle-gray: #767676;
$dark-gray: #2d2d2d;
$blue: #0b7ab3;
$light-blue: #87cef5;
$dark-blue: #194f76;
$orange: #df650b;
$gold: #ffa600;
$red: #ff3030;

// Шрифт

html {
	scroll-behavior: smooth;
}

* {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	box-sizing: border-box;
}

body {
	background-color: $white;
}

// *********************** Стили ***********************

// Навигационная панель

.navbar {
	padding: 0 15px;
	background-color: $white !important;

	// Для бургера
	.hb {
		width: 30px;
		margin: 0 auto;
		display: block;
	}

	& ul {
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	// Сброс стилей кнопки меню из бутстрапа
	&-toggler {
		background-color: $white;
		border: none;
	}

	// Лого
	&-brand img {
		width: 64px;
		height: 60px;
	}

	// Контакты
	&__contacts div a {
		text-decoration: none;
		color: $dark-blue;
		font-size: 0.8rem;

		&:hover {
			color: $light-blue;
			transition: all 0.3s;
		}
	}

	// Соцсети
	&__socials {
		display: flex;
		gap: 8px;
		align-items: center;
		& a {
			text-decoration: none;

			& svg {
				width: 1.7rem;
				height: 1.7rem;

				& path {
					transition: fill 0.4s;
				}
			}

			&[id="vk"]:hover {
				& svg path {
					fill: #4c75a3;
				}
			}

			&[id="tg"]:hover {
				& svg path {
					fill: #29b6f6;
				}
			}

			&[id="yt"]:hover {
				& svg path {
					fill: #ff0000;
				}
			}

			&[id="inst"]:hover {
				& svg path {
					fill: url("#inst-gradient");
				}
			}
		}
	}

	.nav-item,
	.nav-link,
	.dropdown-item {
		text-transform: uppercase;
		font-size: 0.9rem;
		color: $dark-blue !important;
		font-weight: bold;

		&:hover {
			color: $light-blue !important;
			transition: all 0.3s;
		}

		&:active {
			background-color: $white;
		}
	}

	.nav-item .nav-link::after {
		top: 60%;
	}

	.nav-item:has(.show) {
		& .nav-link::after {
			rotate: 180deg;
			transition: rotate 0.3s;
		}
	}

	.collapsing {
		transition: all 0.1s;
	}

	& .row {
		gap: 26px;
		align-items: center;
	}

	& .btn {
		width: fit-content;
		margin-right: 10px;
	}

	.toggler {
		border: none;
	}
}

// Шапка
.banner {
	padding: 0;
	background-image: url("../img/header-bg-blur.webp");

	color: $white;
	background-size: cover;

	& .row {
		padding: 250px 20px;
		flex-wrap: nowrap;
		gap: 50px;

		& .col-xl-8 {
			display: flex;
			flex-direction: column;
			gap: 24px;
		}

		& .col-xl-4 {
			height: 100%;
			margin: auto 0;
			padding-left: 0;
		}
	}

	&__title {
		font-weight: 700;
		line-height: 110%;
		font-size: 3.4rem;
		margin: 0;
	}

	&__text {
		font-size: 1.75rem;
		font-weight: normal;
		line-height: 130%;
		margin: 0;

		&:first-of-type {
			margin-bottom: 20px;
		}
	}

	&__form {
		padding-bottom: 40px !important;
		display: flex;
		flex-direction: column;
		gap: 15px;

		& input::placeholder {
			color: $dark-gray;
		}

		& .form__button {
			padding: 12px 24px;
			text-align: center;
			margin: 5px 0;
			width: 100%;
			height: 50px;
		}

		& .form__text a:hover {
			transition: all 0.2s;
		}
	}
}

// Инструкция
.instruction {
	background-color: $white;

	& .container {
		padding: 65px 100px;
	}

	& .col-12 {
		text-align: center;
		justify-content: center;
		gap: 30px;

		& .btn {
			font-size: 1.2rem;
			margin-top: 20px;
			width: 40%;
		}
	}

	&__text {
		& p {
			font-size: 1.7rem;
			line-height: 120%;
			font-weight: 500;
			color: $dark-blue;
			margin: 0;
		}
	}
}

// Продукты
.products {
	// padding: 80px 135px;

	background-image: url("../img/products-bg-blur.webp");
	background-size: cover;

	& .row {
		display: flex;
		padding-top: 85px;
		padding-bottom: 75px;

		gap: 30px;

		& article {
			flex: 1;
		}
	}

	& .card {
		border: none;
		&__img {
			height: 160px;
		}

		&__img img {
			width: 100%;
			height: 160px;

			object-fit: cover;
		}
	}
}

// Консультация
.consulting {
	padding: 125px 0;

	background: url("../img/consulting-bg.webp") no-repeat;

	background-size: 100% 100%;

	& .row {
		align-items: center;
	}

	&__desc {
		display: flex;
		flex-direction: column;
		gap: 20px;
		justify-content: space-between;
	}

	&__title {
		font-size: 2.5rem;
		color: $dark-blue;
		font-weight: 500;
		line-height: 110%;
	}

	&__text {
		color: $dark-blue;
		font-size: 1.6rem;
		font-weight: 300;
		line-height: 130%;
	}

	&__warning {
		margin-top: auto;
		font-size: 0.9rem;
		font-weight: 300;
		line-height: 130%;

		display: block;

		& a {
			color: $black;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
				color: $orange;
				transition: all 0.3s;
			}
		}
	}

	& .form {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 25px;

		&__text {
			display: none;
			font-size: 1.1rem;

			& a:hover {
				transition: all 0.3s;
			}
		}

		& input::placeholder {
			color: $placeholder-black;
			font-weight: 500;
		}

		& input {
			height: 50px !important;
		}

		& input#purpose {
			margin-top: -10px;
		}

		& label {
			position: absolute;
			font-size: 1rem;
			color: $orange;

			&[for="consulting__name"] {
				left: 51%;
				top: 25%;
			}

			&[for="consulting__phone"] {
				left: 46%;
				top: 25%;
			}
		}

		&__control {
			height: 50px;
			width: 100%;

			position: relative;
			& input {
				height: auto;
				background-color: $light-gray;
			}
		}

		&__purpose {
			grid-column: 1 / 3;
		}

		& button {
			padding: 22px 25px;
			grid-column: 1 / 3;
		}
	}
}

// Ознакомление с производством
.introduction {
	color: $dark-blue;
	background-color: $white;

	.row {
		margin: 75px 0 68px 0;
	}

	& .col-lg-5 {
		display: flex;
		flex-direction: column;
		gap: 40px;
	}

	&__title {
		font-size: 2.2rem;
		font-weight: 400;
	}

	&__descr {
		display: flex;
		flex-direction: column;
		gap: 20px;
		justify-content: space-between;
	}

	&__label {
		font-weight: 300;
		font-size: 0.9rem;
		line-height: 130%;
	}

	&__mission {
		font-weight: 300;
		font-size: 1.1rem;
		line-height: 140%;
		margin: 0;
	}

	&__button {
		width: fit-content !important;
		padding: 19px 24px !important;
	}
}

// Преимущества
.advantages {
	background-color: $white;

	& .container {
		display: flex;
		flex-direction: column;

		gap: 50px;
	}

	&__title {
		text-align: center;
		margin: 0;
		font-weight: 700;
		font-size: 2.8rem;
		line-height: 110%;

		color: #194f76;
	}

	& .row {
		display: flex;

		flex-wrap: wrap;

		margin-bottom: 80px;

		gap: 30px;

		& article {
			flex: 1 0 270px;
		}
	}
	& .card {
		border-radius: 10px;
		padding: 50px 50px;
		text-align: center;

		gap: 10px;

		&__desc {
			gap: 20px;
			display: flex;
			flex-direction: column;
		}

		&__title {
			font-weight: 500;
			font-size: 1.8rem;
			margin: 0;
		}

		&__text-header {
			font-size: 1.2rem;
		}

		&__list {
			margin: 0;
			padding: 0;
		}

		&__list-item {
			font-weight: 300;
			font-size: 1.2rem;
			line-height: 140%;

			&::marker {
				font-size: 1rem;
			}
		}

		&__img img {
			width: 100px;
			height: 100px;
		}
	}
}

// Характеристики
.characteristics {
	padding: 20px 135px 80px 135px;

	background-color: $white;

	& .row {
		display: flex;
		flex-direction: row;
		gap: 30px;
		justify-content: space-evenly;
	}

	&__item {
		text-align: center;
		flex: 1;
		display: flex;
		flex-direction: column;
		width: fit-content !important;
		gap: 20px;
	}

	&__number {
		font-family: "Cuprum", sans-serif;
		font-weight: 700;
		font-size: 3.5rem;
		line-height: 110%;

		color: $dark-blue;
	}

	&__divider {
		width: 100%;
		height: 2px;
		background-color: $orange;
	}

	&__desc {
		font-weight: 300;
		font-size: 1.3rem;
		line-height: 140%;

		color: #194f76;
	}
}

// Документы
.documents {
	background-color: $white;

	display: flex;
	flex-direction: column;

	gap: 50px;

	&__title {
		text-align: center;
		margin: 0;
		font-weight: 700;
		font-size: 2.8rem;
		line-height: 110%;

		color: #194f76;
	}

	& .wrapper {
		padding: 100px 135px 100px 135px;
		background-image: url("../img/products-bg-blur.webp");
		background-size: cover;
	}

	& .container {
		display: flex;
		flex-direction: column;

		gap: 50px;
	}

	& .row {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;

		gap: 30px;
	}
	& a {
		position: relative;

		&:hover {
			cursor: zoom-in;

			&::before {
				content: url("../img/icons/Zoom.png");
				position: absolute;
				z-index: 11;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) scale(0.5);
			}
			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 10;
				background: linear-gradient(rgba(25, 79, 118, 0.4));
			}
		}

		&.zoom {
			& img:hover {
				cursor: zoom-in;
			}
		}
	}

	&__img {
		width: 370px;
		height: 522px;
	}
}

// Обзор
.overview {
	padding: 75px 135px;

	& .row {
		display: grid;

		grid-template-columns: 2fr 1fr;

		gap: 30px;

		align-items: start;
	}

	&__slider {
		min-width: 100%;
		// min-height: 100%;
		height: 100% !important;
	}

	&__desc {
		display: flex;
		flex-direction: column;
		width: 100%;

		gap: 33px;

		color: $dark-blue;
	}

	&__title {
		font-size: 2.5rem;
		margin: 0;
		line-height: 100%;
	}

	&__text {
		font-weight: 300;
		margin: 0;
		font-size: 1.35rem;
		line-height: 145%;
	}

	&__btn {
		// height: 60px;
		padding: 25px !important;

		font-size: 1.12rem !important;
	}
}

// Отзывы
.feedback {
	display: flex;
	flex-direction: column;

	gap: 50px;

	&__title {
		text-align: center;
		margin: 0;

		font-weight: 700;
		font-size: 2.75rem;
		line-height: 110%;

		color: $dark-blue;
	}

	& .wrapper {
		background-image: url("../img/feedback-bg.webp");
		background-size: cover;
	}

	&__slider {
		padding: 100px 205px;
	}

	& .swiper {
		margin: 0;
		&-slide {
			text-align: center;
			& img {
				width: 20vw;
				height: 75vh;
			}
		}
	}
}

// Специальные отзывы
.special-feedback {
	padding: 75px 135px;

	& .row {
		display: flex;
		flex-direction: column;

		text-align: center;

		gap: 30px;
	}

	&__title {
		font-weight: 700;
		font-size: 2.75rem;
		line-height: 110%;

		color: $dark-blue;
	}

	&__slider {
		max-width: 100%;
		max-height: 70%;
	}

	& .swiper {
		&-slide {
			padding: 0 200px;

			gap: 20px;

			display: flex;
			flex-direction: column;

			& .slide-review {
				font-weight: 300;
				font-size: 1.4rem;
				line-height: 145%;

				color: $dark-blue;
			}

			& .slide-name {
				font-weight: 700;
				font-size: 1.5rem;
				line-height: 120%;

				color: $dark-blue;
			}
		}

		&-slide img {
			width: 11.5vw;
			height: 11.5vw;
		}
	}
}

// Заводы
.factories {
	padding-top: 70px;

	display: flex;
	flex-direction: column;
	gap: 50px;

	color: $dark-blue;

	&__header {
		display: flex;
		flex-direction: column;
		gap: 20px;
		align-items: center;

		text-align: center;
	}

	&__title {
		font-weight: 700;
		font-size: 2.75rem;
		line-height: 110%;
		margin: 0;
	}

	&__text {
		text-align: center;
		font-weight: 300;
		font-size: 1.9rem;
		line-height: 120%;
		margin: 0;
	}

	&__phone {
		font-weight: 500;
		font-size: 1.9rem;
		line-height: 120%;

		color: $orange;

		&:hover {
			color: $orange;
		}
	}

	&__addresses {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 30px;
	}

	&__factory {
		flex: 1 0 270px;
		display: flex;
		flex-direction: column;

		gap: 20px;

		color: $dark-blue;

		&-name {
			font-weight: 700;
			font-size: 1.5rem;
			line-height: 120%;
			margin: 0;
		}

		&-address {
			font-weight: 300;
			font-size: 1.25rem;
			line-height: 145%;
			margin: 0;

			color: $middle-gray;
		}

		&-route {
			margin-top: auto;

			font-weight: 300;
			font-size: 1.8rem;
			line-height: 120%;

			color: $orange;

			&:hover {
				color: $orange;
			}
		}
	}

	&__map {
		width: 99.9%;
		height: 70vh;
		background-color: $light-gray;
		margin: 0;
		padding: 0;
	}
}

// Футер
.footer {
	background-color: $light-blue;

	padding: 17px 0;
	color: $white;

	& .container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0;
	}

	&__copyright {
		margin: 0;
		font-weight: 400;
		font-size: 1rem;
		line-height: 140%;
	}

	& a {
		color: $white;
	}

	&__links {
		display: flex;
		gap: 37px;
	}

	&__link {
		font-weight: 400;
		font-size: 1.4rem;
		line-height: 120%;
		text-transform: uppercase;
	}

	& .to-top {
		font-weight: 700;
		font-size: 1rem;
		line-height: 140%;

		text-decoration: none;

		&:hover {
			color: $light-gray;

			& svg path {
				stroke: $light-gray;
			}
		}
	}
}

// *********************** Утилиты/Блоки ***********************
@import "./blocks/utils.scss";

// *********************** Медиа запросы ***********************
@import "./blocks/media.scss";
