@media screen and (max-width: 1330px) {
	html {
		font-size: 14px;
	}

	.navbar {
		&-brand img {
			height: 56px;
			width: 52px;
		}
	}

	.feedback {
		&__slider {
			padding: 100px 135px;
		}

		& .swiper {
			&-slide {
				& img {
					width: 23vw;
					height: 85vh;
				}
			}
		}
	}

	.consulting .form {
		& label {
			&[for="consulting__name"] {
				left: 120px;
			}

			&[for="consulting__phone"] {
				left: 105px;
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	html {
		font-size: 13px;
	}

	.products,
	.advantages {
		// padding: 80px 135px 30px 135px;
		background-size: cover;

		& .row {
			display: grid;
			padding: 85px 0 80px 0;

			grid-template-columns: 1fr 1fr;

			gap: 30px;

			& article {
				display: grid;

				&:nth-child(odd):last-child {
					grid-column: 1/-1;
				}
			}
		}

		&__card {
			margin-bottom: 50px;
		}
	}

	.products {
		& .card {
			&__btns button {
				font-size: 1rem;
			}

			&__img {
				height: 250px;

				& img {
					width: 100%;
					height: 100%;

					object-fit: cover;
				}
			}
		}
	}

	.navbar {
		& .row {
			gap: 15px;
		}

		& .dropdown-item {
			padding: 2px 5px !important;
		}

		& .collapse nav a {
			padding: 0;
			font-size: 0.8rem;
		}

		&-brand img {
			height: 50px;
			width: 46px;
		}

		&__socials a svg {
			width: 21px;
			height: 21px;
		}

		&__socials {
			gap: 6px !important;
		}
	}

	.banner {
		& .row {
			padding: 100px 0;
			gap: 15px !important;
		}
	}

	.instruction {
		& .container {
			padding: 80px 125px;
		}
	}

	.consulting {
		padding: 35px 200px;

		&__warning {
			display: none;
		}

		&__desc {
			text-align: center;
		}

		& input#purpose {
			margin-top: 0 !important;
		}

		& .form {
			margin-top: 15px;
			gap: 15px;

			& .btn {
				padding: 15px 25px;
				font-size: 1.3rem;
			}

			&__text {
				display: block;

				grid-column: 1 / 3;
			}

			& label {
				&[for="consulting__name"] {
					left: 110px;
				}

				&[for="consulting__phone"] {
					left: 100px;
				}
			}
		}
	}

	.introduction {
		&__descr {
			display: flex;
			flex-direction: column;
			gap: 10px;
			justify-content: space-between;
		}

		&__video {
			width: 560px;
			height: 320px;
		}

		&__label {
			font-size: 1rem;
		}

		&__mission {
			font-size: 1.3rem;
		}

		& .btn {
			font-size: 1.2rem;
		}
	}

	.advantages {
		& .row {
			padding: 0;
			margin: 0px 0 50px 0;
		}
		& .card {
			margin: 0;
			padding: 30px 0px;

			&__img img {
				width: 110px;
				height: 110px;
			}
		}
	}

	.characteristics {
		padding: 20px 135px 80px 135px;

		&__number {
			font-size: 4rem;
		}

		&__desc {
			font-size: 1.6rem;
		}
	}

	.documents {
		& .wrapper {
			padding: 80px 80px 80px 80px;
		}
	}

	.swiper-horizontal > .swiper-pagination-bullets,
	.swiper-pagination-bullets.swiper-pagination-horizontal,
	.swiper-pagination-custom,
	.swiper-pagination-fraction {
		bottom: -5px !important;
	}

	.overview {
		padding: 75px 85px;

		& .row {
			grid-template-columns: 1fr;
			// display: flex;
			flex-direction: column;
		}

		&__slider {
			min-width: 100%;
			// min-height: 100%;
			max-height: 100vh;
		}

		&__desc {
			display: flex;
			flex-direction: column;
			width: 100%;

			gap: 25px;

			color: $dark-blue;
		}

		&__title {
			font-size: 2.5rem;
			text-align: center;
			line-height: 100%;
		}

		&__text {
			font-weight: 300;
			font-size: 1.35rem;
			line-height: 145%;
		}

		&__btn {
			font-size: 1.4rem !important;
		}
	}

	.feedback {
		&__slider {
			padding: 100px 65px;
		}
	}

	.special-feedback {
		&__title {
			font-size: 3rem;
		}

		& .swiper {
			&-slide {
				padding: 0 150px;

				& .slide-review {
					font-size: 1.7rem;
				}

				& .slide-name {
					font-size: 1.9rem;
				}
			}

			&-slide img {
				width: 12vw;
				height: 12vw;
			}
		}
	}

	.factories {
		&__title {
			font-size: 3.5rem;
		}

		&__text {
			font-size: 2.2rem;
		}

		&__phone {
			font-size: 2.2rem;
		}

		&__factory {
			&-name {
				font-size: 1.8rem;
			}

			&-address {
				font-size: 1.55rem;
			}

			&-route {
				font-size: 2.1rem;
			}
		}
	}
}

@media screen and (max-width: 991px) {
	html {
		font-size: 12px;
	}

	.navbar {
		& .dropdown-divider {
			display: block !important;
			margin: 5px 0;
		}

		.dropdown-menu {
			border: none;
		}

		.dropdown-toggle {
			position: relative;
			&::after {
				position: absolute;
				right: 20px;
				top: 50%;
				margin-top: -5px;
			}
		}

		& ul {
			flex-direction: column;
		}

		& .my-2 {
			margin-bottom: 20vh !important	;
			margin-top: 30px !important;
		}

		& .collapse nav a {
			padding: 0.5rem;
			font-size: 1.1rem;
			font-weight: 700;
			transition: all 0.2s ease-in-out;
		}

		&__contacts div a {
			font-size: 1.4rem;
		}

		&__socials {
			& a svg {
				width: 2.5rem;
				height: 2.5rem;
			}
		}

		& .row .btn {
			width: auto;
			padding: 15px 65px;
			margin: 0 !important;
			margin-left: 10px;
			font-size: 1.3rem;
		}

		& .row {
			gap: 30px;
			flex-direction: column;
		}
	}

	.banner {
		& .row {
			padding: 50px 0;
			gap: 30px !important;
			flex-wrap: wrap;
		}

		&__title {
			margin: 0;
		}

		&__text {
			font-size: 1.75rem;

			&:first-of-type {
				margin-bottom: 0px;
			}
		}

		& .promo {
			&__title {
				font-size: 2rem;
			}

			&__desc {
				font-size: 1rem;
			}
		}

		& .form {
			& .btn {
				font-size: 1.2rem;
				padding: 0;
				line-height: 100%;
			}

			& input {
				font-size: 1.2rem;
			}
		}

		& .form__text {
			font-size: 1rem;
		}
	}

	.instruction {
		& .container {
			padding: 65px 50px;
		}
	}

	.products,
	.advantages {
		& .card {
			&__btns .btn {
				font-size: 1.3rem;
			}

			&__text {
				font-size: 1.3rem;
			}
		}
	}

	.consulting {
		padding: 35px 30px;

		&__title {
			font-size: 2rem;
		}

		&__text {
			font-size: 1.4rem;
		}

		& .form {
			gap: 15px;

			& .btn {
				padding: 22px 25px;
				font-size: 1.4rem;
			}

			& input::placeholder {
				font-size: 1.1rem;
			}

			&__text {
				font-size: 1.2rem;
			}
		}
	}

	.introduction {
		& .row {
			gap: 50px;
		}

		&__title {
			font-size: 2.5rem;
		}

		&__label {
			font-size: 1.4rem;
		}

		&__mission {
			font-size: 1.6rem;
		}

		&__button {
			font-size: 1.4rem !important;
			width: 100% !important;

			display: flex;
			justify-content: center;
			align-items: center;
		}

		&__video {
			width: 100%;
			height: 320px;
		}
	}

	.advantages {
		& .card {
			padding: 50px 50px;

			&__title {
				font-size: 1.8rem;
			}

			&__text-header {
				font-size: 1.2rem;
			}

			&__list-item {
				font-size: 1.2rem;

				&::marker {
					font-size: 1rem;
				}
			}

			&__img img {
				width: 110px;
				height: 110px;
			}
		}
	}

	.documents {
		& .wrapper {
			padding: 80px 40px 80px 40px;
		}

		&__img {
			width: 300px;
			height: 452px;
		}
	}

	.overview {
		padding: 75px 60px;

		& .row {
			grid-template-columns: 1fr;
		}

		&__desc {
			display: flex;
			flex-direction: column;
			width: 100%;

			gap: 25px;

			color: $dark-blue;
		}

		&__title {
			font-size: 2rem;
			text-align: center;
			line-height: 100%;
		}

		&__text {
			font-weight: 300;
			font-size: 1.6rem;
			line-height: 25px;
		}

		&__btn {
			font-size: 1.5rem !important;
		}
	}

	.feedback {
		&__slider {
			padding-top: 50px;
			padding-bottom: 50px;
		}

		& .swiper {
			&-slide {
				& img {
					width: 23vw;
					height: 70vh;
				}
			}
		}
	}

	.special-feedback {
		padding: 75px 15px;

		&__title {
			font-size: 2.15rem;
		}

		& .swiper {
			&-slide {
				padding: 0 150px;

				& .slide-review {
					font-size: 1.3rem;
					line-height: 145%;
				}

				& .slide-name {
					font-weight: 700;
					font-size: 1.35rem;
					line-height: 120%;

					color: $dark-blue;
				}
			}

			&-slide img {
				width: 20vw;
				height: 20vw;
			}
		}
	}

	.factories {
		&__title {
			font-size: 2.75rem;
		}

		&__text {
			font-size: 1.9rem;
		}

		&__phone {
			font-size: 1.9rem;
		}

		&__factory {
			&-name {
				font-size: 1.5rem;
			}

			&-address {
				font-size: 1.25rem;
			}

			&-route {
				font-size: 1.8rem;
			}
		}
	}

	.footer {
		&__links {
			gap: 10px;

			& a {
				font-size: 1.2rem;
			}
		}

		&__copyright {
			font-size: 0.9rem;
		}

		& .to-top {
			font-size: 0.9rem;
		}
	}
}

@media screen and (max-width: 767px) {
	.instruction {
		& .container {
			padding: 37px 10px 44px 10px;
		}
	}

	.products,
	.advantages {
		background-image: none;
		background-color: $white;

		& .row {
			grid-template-columns: 1fr;

			gap: 10px;
		}

		& .card {
			border: none;
			margin: 0;
		}
	}

	.products .row {
		padding: 0;
	}

	.products {
		margin-bottom: 47px;
	}

	.introduction {
		&__title {
			font-size: 2.5rem;
			margin-bottom: 20px;
		}

		&__label {
			font-size: 1.4rem;
		}

		&__mission {
			font-size: 1.6rem;
		}

		&__button {
			font-size: 1.4rem;
		}
	}

	.advantages {
		& .row {
			gap: 15px;
		}

		& .card {
			margin-bottom: 0 !important;
			&__text-header {
				margin-bottom: 10px;
				font-size: 1.4rem;
			}
			&__text {
				text-align: left;
			}
			&__list-item {
				font-size: 1.3rem;
			}
		}
	}

	.characteristics {
		padding: 20px 25px 80px 25px;

		background-color: $white;

		& .row {
			display: flex;
			flex-direction: column;
			gap: 30px;
			justify-content: space-evenly;
		}

		&__item {
			text-align: center;
			flex: 1;
			display: flex;
			flex-direction: column;
			width: fit-content !important;
			gap: 20px;
		}

		&__number {
			font-family: "Cuprum", sans-serif;
			font-weight: 700;
			font-size: 3.5rem;
			line-height: 110%;

			color: $dark-blue;
		}

		&__divider {
			width: 100%;
			height: 2px;
			background-color: $orange;
		}

		&__desc {
			font-weight: 300;
			font-size: 1.3rem;
			line-height: 140%;

			color: #194f76;
		}
	}

	.documents {
		&__title {
			font-size: 2.5rem;
		}

		&__img {
			width: 250px;
			height: 402px;
		}
	}

	.overview {
		// padding: 0;
		margin: 50px 30px;
		padding: 0;

		&__title {
			font-size: 1.87rem;
		}

		& .swiper {
			&-button-prev,
			&-button-next {
				transition: background-color 0.3s;
				background-color: $light-blue;
			}
			&-button-prev:hover,
			&-button-next:hover {
				background-color: $light-blue;
				cursor: pointer;
			}
		}

		& .swiper-horizontal > .swiper-pagination-bullets,
		.swiper-pagination-bullets.swiper-pagination-horizontal,
		.swiper-pagination-custom,
		.swiper-pagination-fraction {
			bottom: -5px;
		}

		&__text {
			font-weight: 300;
			font-size: 1.35rem;
			line-height: 145%;
		}

		&__btn {
			padding: 20px 24px !important;
			// font-size: 1.4rem !important;
		}
	}

	.swiper {
		&-button-prev,
		&-button-next {
			width: 35px;
			height: 35px;

			&::after {
				font-size: 1.2rem;
			}
		}

		&-button-prev {
			&::after {
				margin-left: -8%;
			}
		}

		&-button-next {
			&::after {
				margin-right: -8%;
			}
		}
	}

	.feedback {
		gap: 30px;

		&__title {
			font-size: 2.5rem;
		}

		& .swiper {
			&-slide {
				& img {
					width: 36vw;
					height: 80vh;
				}
			}
		}
	}

	.special-feedback {
		padding: 75px 15px;

		& .swiper {
			&-button-prev,
			&-button-next {
				transition: background-color 0.3s;
				background-color: $light-blue;
			}
			&-button-prev:hover,
			&-button-next:hover {
				background-color: $orange;
				cursor: pointer;
			}
		}

		&__title {
			font-size: 2.5rem;
		}

		& .swiper {
			&-slide {
				padding: 0 150px;

				& .slide-review {
					font-size: 1.3rem;
					line-height: 145%;
				}

				& .slide-name {
					font-weight: 700;
					font-size: 1.35rem;
					line-height: 120%;

					color: $dark-blue;
				}
			}

			&-slide img {
				width: 20vw;
				height: 20vw;
			}
		}
	}

	.factories {
		&__title {
			font-size: 2.4rem;
		}

		&__text {
			font-size: 1.6rem;
		}

		&__phone {
			font-size: 1.6rem;
		}

		&__factory {
			&-name {
				text-align: center;
				font-size: 1.7rem;
			}

			&-address {
				text-align: center;
				font-size: 1.2rem;
			}

			&-route {
				text-align: center;
				font-size: 1.5rem;
			}
		}
	}

	.footer {
		text-align: center;
		padding: 45px 0;

		&__links {
			flex-direction: column;
			gap: 16px;

			& a {
				font-family: "Cuprum";
				font-weight: 400;
				font-size: 2rem;
			}
		}

		& .container {
			flex-direction: column;
			gap: 30px;
		}

		& .to-top {
			font-size: 1.2rem;
		}

		&__copyright {
			order: 3;
		}
	}
}

@media screen and (max-width: 595px) {
	.navbar {
		& .row .btn {
			width: 96%;
			margin-left: 10px;
		}
	}

	.banner {
		& .row {
			padding: 50px 0;
			gap: 30px;
			flex-wrap: wrap;
		}

		&__title {
			font-size: 2.85rem;
		}

		&__text {
			font-size: 1.5rem;

			&:first-of-type {
				margin-bottom: 0px;
			}
		}

		& .promo {
			padding: 14px 30px 12px 15px;
			width: 100%;
			justify-self: center;

			&__title {
				font-size: 2.17rem;
			}

			&__desc {
				font-size: 1.1rem;
			}
		}

		& .col-xl-4 {
			padding-left: 15px !important;
		}
		& .form {
			& .btn {
				font-size: 1.2rem;
				padding: 0;
				line-height: 100%;
			}

			& input {
				font-size: 1.2rem;
			}
		}

		& .form__text {
			font-size: 1rem;
		}
	}

	.instruction {
		width: 100% !important;
		& .container {
			padding: 40px 5px;
		}

		& .row {
			margin: 0;
		}

		&__text p {
			font-size: 1.6rem;
		}

		& .btn {
			font-size: 1.12rem;
			margin-top: 20px;
			width: 100% !important;
		}
	}

	.products,
	.advantages {
		padding: 0 10px;

		& .card {
			&__text-header {
				font-size: 1.5rem;
			}
			&__list-item {
				font-size: 1.4rem;
			}
		}
	}

	.products {
		& .card {
			&__btns button {
				padding: 17px 24px;
				font-size: 1.3rem !important;
			}

			&__img {
				height: 250px;

				& img {
					width: 100%;
					height: 100%;

					object-fit: cover;
				}
			}

			&__text {
				font-size: 1.3rem;
			}
		}
	}

	.consulting {
		background-image: url("../img/consulting-bg-mobile.webp");
		background-size: cover;
		background-position: bottom;
		& .form {
			// display: flex;
			grid-template-columns: 1fr;
			gap: 10px;

			flex-wrap: wrap;

			padding: 30px auto;

			& input {
				padding: 10px;

				&::placeholder {
					font-size: 1.1rem;
				}
			}

			& label {
				&[for="consulting__name"] {
					left: 107px;
					top: 18%;
				}

				&[for="consulting__phone"] {
					left: 96px;
					top: 18%;
				}
			}

			&__purpose {
				grid-column: 1;
			}

			& .btn {
				padding: 22px 24px;
				grid-column: 1;
				font-size: 1.1rem;
				margin-top: 10px;
			}

			&__text {
				display: block;
				grid-column: 1;
				text-align: left;
				margin-top: 15px;
				font-size: 1.1rem;
				font-weight: 300;
				line-height: 160%;
			}
		}
	}

	.introduction {
		&__title {
			text-align: center;
			font-weight: 700;
			margin-bottom: 30px;
		}

		.row {
			margin: 48px 0 50px 0;
		}

		& .col-lg-7 {
			padding: 0;
		}

		& .youtube-player {
			margin: 0;
		}

		&__title {
			font-size: 2.5rem;
		}

		&__label {
			font-size: 1.3rem;
		}

		&__mission {
			font-size: 1.5rem;
		}

		&__button {
			font-size: 1.4rem;
		}
	}

	.documents {
		& .wrapper {
			padding: 80px 0 80px 0;
		}

		& .row {
			gap: 10px;
		}

		&__img {
			width: 211px;
			height: 352px;
		}
	}

	.swiper {
		padding-bottom: 10% !important;

		&-button-prev,
		&-button-next {
			width: 25px;
			height: 25px;
		}
	}

	.feedback {
		width: 100%;

		&__slider {
			padding: 40px 0px !important;
		}

		& .swiper {
			&-slide {
				& img {
					width: 46vw;
					height: 70vh;
				}
			}
		}
	}

	.special-feedback {
		padding: 50px 15px;

		& .swiper {
			&-slide {
				padding: 0 75px;

				& .slide-review {
					font-size: 1.3rem;
				}

				& .slide-name {
					font-size: 1.3rem;
				}
			}

			&-slide img {
				width: 25vw;
				height: 25vw;
			}
		}
	}

	.factories {
		&__header {
			padding: 0 10px;
		}

		&__title {
			font-size: 2.6rem;
		}

		&__text {
			font-size: 1.6rem;
		}

		&__phone {
			font-size: 2rem;
		}
	}
}

@media screen and (max-width: 430px) {
	.instruction {
		& .row {
			margin: 0;
		}

		& .btn {
			width: 90% !important;
		}

		& .col-12 {
			padding: 0;
		}

		&__text {
			& p {
				font-size: 1.7rem;
			}
		}
	}

	.products {
		& .card {
			&__img {
				height: 200px;

				& img {
					width: 100%;
					height: 100%;

					object-fit: cover;
				}
			}
		}
	}

	.consulting {
		&__text {
			font-size: 1.3rem;
		}
	}

	.introduction {
		.container {
			padding: 0;
		}

		.col-lg-5 {
			padding: 0 10px;
		}

		&__title {
			font-size: 2.3rem;
		}

		&__label {
			font-size: 1.2rem;
		}

		&__mission {
			font-size: 1.4rem;
		}

		&__button {
			font-size: 1.2rem !important;
		}
	}

	.advantages {
		& .card {
			padding: 50px 30px;

			&__img img {
				width: 88px;
				height: 88px;
			}
		}
	}

	.documents {
		& .wrapper {
			padding: 60px 10px 60px 10px;
		}

		& .row {
			justify-content: space-between;
		}

		&__img {
			width: 170px;
			height: 227px;
		}
	}

	.feedback {
		& .swiper {
			&-slide {
				& img {
					width: 46vw;
					height: 50vh;
				}
			}
		}
	}

	.special-feedback {
		& .row {
			padding-left: 10px;
			padding-right: 10px;
		}
		& .swiper {
			&-slide {
				padding: 0 45px;

				& .slide-review {
					font-size: 1.3rem;
					line-height: 24px;
				}

				& .slide-name {
					font-size: 1.3rem;
				}
			}

			&-slide img {
				width: 35vw;
				height: 35vw;
			}
		}

		& .swiper-button-prev {
			margin-left: -10px !important;
		}

		& .swiper-button-next {
			margin-right: -10px !important;
		}
	}

	.factories {
		&__text {
			font-size: 1.6rem;
		}

		&__phone {
			font-size: 2rem;
		}
	}
}

@media screen and (max-width: 370px) {
	.advantages {
		& .card {
			padding: 50px 24px;
			&__body {
				padding: 0;
			}
		}

		& .row {
			gap: 14px;
		}
		&__title {
			font-size: 2.5rem;
		}
	}

	.banner__form {
		padding: 30px 15px;

		& .form__text {
			font-size: 1.15rem;
		}

		& .btn {
			padding: 17px 24px !important;
		}
	}

	.instruction {
		&__text p {
			font-size: 1.84rem;
		}

		& .btn {
			padding: 19px 24px !important;
			font-size: 1.5rem !important;
		}
	}

	.overview {
		& .btn {
			padding: 19px 20px !important;
			font-size: 1.2rem !important;
		}

		&__title {
			font-weight: 700;
			font-size: 2.5rem;
			line-height: 35px;
		}
	}

	.consulting {
		padding: 56px 10px;

		& .form .btn {
			font-size: 1.3rem;
			padding-left: 1px;
			padding-right: 1px;
		}

		& .form input {
			&::placeholder {
				font-size: 1.2rem;
			}
		}

		.form {
			padding: 30px 10px;
			& label {
				&[for="consulting__name"] {
					left: 114px;
					top: 20%;
					font-size: 1.2rem;
				}

				&[for="consulting__phone"] {
					left: 104px;
					top: 20%;
					font-size: 1.2rem;
				}
			}
		}

		&__title {
			font-size: 2.5rem;
		}

		&__text {
			font-size: 1.8rem;
		}
	}

	.documents {
		& .wrapper {
			padding: 25px 10px;
		}

		& .row {
			gap: 5px;
			justify-content: space-evenly;
		}
		&__img {
			width: 120px;
			height: 197px;
		}
	}

	.feedback {
		& .swiper-horizontal > .swiper-pagination-bullets,
		.swiper-pagination-bullets.swiper-pagination-horizontal,
		.swiper-pagination-custom,
		.swiper-pagination-fraction {
			bottom: -5px !important;
		}

		&__title {
			padding: 0 20px;
		}
	}

	.special-feedback {
		padding: 50px 20px;
	}

	.factories {
		&__addresses {
			gap: 30px;
			flex-direction: column;
		}
		&__factory {
			flex: 0 0 100%;

			&-route {
				margin-top: 0;
			}
		}

		&__text {
			font-size: 1.3rem;
		}

		&__phone {
			font-size: 2rem;
		}
	}
}

@media screen and (max-width: 210px) {
	.advantages {
		&__card {
			padding: 32px 12px !important;
		}
	}

	.consulting .form .form__control {
		width: 100px !important;
	}

	.special-feedback {
		& .row {
			padding-left: 0;
			padding-right: 0;
		}
		&__title {
			font-size: 1.5rem;
		}
	}
}

@media screen and (min-height: 854px) and (min-width: 768px) {
	.feedback {
		& .swiper {
			&-slide {
				& img {
					width: 15vmax;
					height: 30vmax;
				}
			}
		}
	}
}
